services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web

    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock

    depends_on:
      - redis

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery
    command: celery -A project worker -l info
    depends_on:
      - redis
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery-beat
    command: celery -A project beat -l info
    depends_on:
      - redis
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock

  db:
    image: postgres:15
    container_name: db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
